*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#main{
    height:100%;
    width:100%;
    
}

#nav{
    height: 80px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.golla{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}

.nav-part-1{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.nav-part-2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 0 40px;
}
.nav-part-2 h4{
    font-size: 18px;
    font-weight: 600;
}

#nav2{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 0 40px;
}

#nav2 h3{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

}

#container{
    height: calc(100% - 150px);
    width: 100%;
    
}

.part1{
    height: 45%;
    width: 100%;
    display: flex;    
    overflow-x: auto;
}

.part1::-webkit-scrollbar{
    display: none;
    height: 7px;
}

.part1.part1::-webkit-scrollbar-thumb{
    background-color: rgb(218, 255, 212);
}
.box{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h3{
    font-size: 100px;
    font-weight: 200;

}

.part2{
    height: 55%;
    width: 100%;
    background-color: crimson;
}

.part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

